header {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #181818;
  -webkit-app-region: drag;
}

header button {
  all: unset;

  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin: 4px;

  border-radius: 50%;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#close {
  background-color: red;
}

#minimize {
  background-color: yellow;
}

#maximize {
  background-color: lime;
}

.main{
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  max-width: 900px;
  margin: auto;
  margin-top: 4rem;
}

.mainGrid{
  height: 120px;
  padding: 0.5rem;
}

.selectOption{
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: #2c2c2c;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.selectOption:hover{
  background-color: #333;
}

.selectOptionTitle{
  display: flex;
  gap : 1rem;
}

.selectOptionTitle :first-child{
  font-weight: 600;
}

.selectOption :nth-child(2){
  font-weight: 400;
  font-size: 0.8rem;

}

.selectOptionChart{
  height: 4rem;
  width: 100%;
}

.selectOptionChart:hover{
  cursor: pointer;
}